ul {
  list-style: none;
}

.bg-gray {
  background-color: #f8f9fa;
}

.error {
  color: red;
}

.navbar_image {
  width: auto;
  height: 2.75rem;
}

.navbar-icon {
  font-size: 1.75rem;
}

.navbar-label {
  font-size: 0.8rem;
}

.category-container {
  margin: 0 1rem;
}

.category-button {
  width: 10rem;
  height: 5rem;
}

.category-button-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category-button-shadow:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 100ms;
  transform: scale(1.05);
}

.showcase__products--product {
  height: 450px;
  width: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.showcase__products--product-img {
  width: 280px;
  height: 340px;
}
.showcase__products--product-img img {
  max-width: 100%;
  max-height: 100%;
}
.produkty__kartaProduktu {
  width: 280px;
  height: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.produkty__kartaProduktu--image {
  width: 270px;
  height: 300px;
}
.produkty__kartaProduktu--image img {
  max-width: 100%;
  max-height: 100%;
}
.register-form-container {
  min-height: 100vh;
}
.register-form-container__logo {
  width: 10rem;
  height: auto;
}
.register-form-container__content__form {
  width: 45%;
}
.register-form-container__content__vl {
  width: 2px;
  background-color: #c6c7c8;
}
.register-form-container__content__info {
  width: 45%;
}

.login-form-container {
  min-height: 100vh;
}
.login-form-container__logo {
  width: 10rem;
  height: auto;
}
.login-form-container__content__form {
  width: 45%;
  min-height: auto;
}
.login-form-container__content__vl {
  width: 2px;
  background-color: #c6c7c8;
}
.login-form-container__content__info {
  width: 45%;
}

.newsletter--tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer__links--category {
  width: 12rem;
}
.footer__links--category a {
  text-decoration: none;
  color: #212529;
}

.kontakt__info__card {
  width: 17rem;
  height: 13rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.kontakt__info__card div {
  box-sizing: border-box;
  padding: 10px;
}
.kontakt__form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .register-form-container__logo {
    padding-top: 1rem;
    width: 10rem;
    height: auto;
  }
  .register-form-container__content__form {
    width: 100%;
  }
  .register-form-container__content__vl {
    width: 2px;
    background-color: #c6c7c8;
  }
  .register-form-container__content__info {
    width: 100%;
  }
  .register-form-container__content__info h2 {
    text-align: center;
  }
  .register-form-container__content__info-row {
    padding: 1rem 0;
  }
  .register-form-container__content__info-row p {
    text-align: center;
  }
  .login-form-container__logo {
    padding-top: 1rem;
    width: 10rem;
    height: auto;
  }
  .login-form-container__content__form {
    width: 100%;
  }
  .login-form-container__content__vl {
    width: 2px;
    background-color: #c6c7c8;
  }
  .login-form-container__content__info {
    width: 100%;
  }
  .login-form-container__content__info h2 {
    text-align: center;
  }
  .login-form-container__content__info-row {
    padding: 1rem 0;
  }
  .login-form-container__content__info-row p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */