.bg-gray {
  background-color: #f8f9fa;
}

.navbar_image {
  width: auto;
  height: 2.75rem;
}

.navbar-icon {
  font-size: 1.75rem;
}

.navbar-label {
  font-size: 0.8rem;
}

.category-container {
  margin: 0 1rem;
}

.category-button {
  width: 10rem;
  height: 5rem;
}

.category-button-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category-button-shadow:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  -moz-transition: 100ms;
  transition: 100ms;
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}

.register-form-container {
  min-height: 100vh;
}
.register-form-container__logo {
  width: 10rem;
  height: auto;
}
.register-form-container__content__form {
  width: 45%;
}
.register-form-container__content__vl {
  width: 2px;
  background-color: #c6c7c8;
}
.register-form-container__content__info {
  width: 45%;
}

.login-form-container {
  min-height: 100vh;
}
.login-form-container__logo {
  width: 10rem;
  height: auto;
}
.login-form-container__content__form {
  width: 45%;
  min-height: auto;
}
.login-form-container__content__vl {
  width: 2px;
  background-color: #c6c7c8;
}
.login-form-container__content__info {
  width: 45%;
}

.footer__newsletter--tab {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer__links--category {
  width: 12rem;
}
.footer__links--category a {
  text-decoration: none;
  color: #212529;
}

.kontakt__info__card {
  width: 17rem;
  height: 13rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.kontakt__info__card div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}
.kontakt__form {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

@media (max-width: 768px) {
  .register-form-container__logo {
    padding-top: 1rem;
    width: 10rem;
    height: auto;
  }
  .register-form-container__content__form {
    width: 100%;
  }
  .register-form-container__content__vl {
    width: 2px;
    background-color: #c6c7c8;
  }
  .register-form-container__content__info {
    width: 100%;
  }
  .register-form-container__content__info h2 {
    text-align: center;
  }
  .register-form-container__content__info-row {
    padding: 1rem 0;
  }
  .register-form-container__content__info-row p {
    text-align: center;
  }
  .login-form-container__logo {
    padding-top: 1rem;
    width: 10rem;
    height: auto;
  }
  .login-form-container__content__form {
    width: 100%;
  }
  .login-form-container__content__vl {
    width: 2px;
    background-color: #c6c7c8;
  }
  .login-form-container__content__info {
    width: 100%;
  }
  .login-form-container__content__info h2 {
    text-align: center;
  }
  .login-form-container__content__info-row {
    padding: 1rem 0;
  }
  .login-form-container__content__info-row p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */