.navbar_image{
    width: auto;
    height: 2.75rem;
}

//=== NAVBAR ===
.navbar-icon{
    font-size: 1.75rem;
}

.navbar-label{
    font-size: 0.8rem;
}

.categories_shadow{
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 1);
}
.test0{
    color: red;
}